<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

<div class = "container ">
    <div class="row align-items-center">
<div class = "col col-md-6 offset-md-3">
    <div class="card">
        <h5 class="card-header">Add Products</h5>

        <div class="card-body text-center">
            
            <%- include('forms/add-products-form.ejs') %>

        </div>
      </div>

</div>
    </div>
</div>


<%- include('includes/end.ejs') %>